main{
    .titulo{
        color: map-get($colores , secundario ) ;
    }
    p{
        font-size: 20px;
    }
    .contacto{
        color: map-get($colores, secundario );
        text-align: center;
    }
    .form-label{
        color: map-get($colores, secundario );
    }
}