$colores:(
    primario: rgb(222, 184, 135),
    secundario: rgb(255, 255, 255),
    tercero: rgb(116, 53, 53),

);

$boton:(
    padding: 8px 5px,
    bordes: 0,
    radio: 5px,
    color: #fff,
    fondo: rgb(222, 184, 135),
);