@import "variables.scss";
@import "nav.scss";
@import "reset.scss";
@import "footer.scss";
@import "main.scss";

.btn{
    padding: map-get($boton , padding );
    border: map-get($boton , bordes );
    border-radius: map-get($boton, radio );
    color: map-get($boton , color );
    background-color: map-get($boton , fondo );
}

@each $nombre, $color in $colores {
    .btn-#{$nombre}{
        background-color: $color;
    }
}

